<div class="alert alert-info">
А с моими коммнатриями у тебя есть ноутбук? Там где я обозначаю что нужно подправить

In [ ]:
Я не смогла ее открыть и по незнанию нажала обновить файл и загрузила не тот...
Поддержка сказал идти к куратору, куратор сказал, что займется этим, но видимо занят и я решила может у Вас сохранилась моя тетрадка каким-то чудом
Простите, извините

<div class="alert alert-info">
<b>Комментарий ревьюера v2</b>    <br>
Да, конечно!) Я сейчас добавлю комментарии, которые у меня были. Далее все, что я писала в прошлый раз

<div class="alert alert-info"> <p2>
Привет! Меня зовут Позднякова Кристина. Я буду проверять твой проект. Предлагаю обращаться на «ты», но если так не удобно для тебя - дай знать, и мы перейдем на «вы»:). Моя основная цель проверки проекта — не просто указать на совершенные тобою ошибки, а поделиться своим опытом и помочь доработать код так, как хорошо было бы его писать в реальном рабочем проекте. Я вижу, что ты старалась, делая проект. Все ключевые этапы в работе выполнены и соблюдены, так что в целом справиться с задачей тебе удалось. Работа получилась очень хорошая! 
</p2>
    <br>
    <br>
<p2>
Есть только несколько совсем небольших аспектов, которые требуют твоего внимания. Комментарии по ним помечены красным цветом (❌). После доработки, с учетом этих моментов, проект будет принят. Осталось совсем немного, буду ждать твою работу на повторное ревью:) Зелёным цветом (✔️) отмечены хорошие, удачные и элегантные решения, на которые можно опираться в будущих проектах. Из контекста будет более понятно что хорошо, а что просто великолепно!:) Жёлтым цветом (⚠️) выделено то, что в следующий раз можно сделать по-другому. Ты можешь учесть эти комментарии при выполнении будущих заданий или доработать проект сейчас (однако это не обязательно). 
</p2>
    <br>
    <br>
<p2>
Давай работать над проектом взаимодействуя друг с другом: если ты что-то меняешь в проекте — пиши об этом, пожалуйста. Выбери для своих комментариев какой-то заметный цвет, отличный от выбранных мной, так мне будет легче отследить изменения. В названии моих комментариев будет номер версии начиная со второй. Пожалуйста, не перемещай, не изменяй и не удаляй мои комментарии. Всё это поможет выполнить повторную проверку твоего проекта оперативнее:)  
</p2>
        <br>
    <br>
Хорошего дня:)
</div>

# Исследование надежности заемщиков

Во второй части проекта вы выполните шаги 3 и 4. Их вручную проверит ревьюер.
Чтобы вам не пришлось писать код заново для шагов 1 и 2, мы добавили авторские решения в ячейки с кодом.

<div class="alert alert-warning"> 
⚠️ Эта часть проекта формируется автоматически, но для финальной презентации можно оформить этот раздел тоже. Хорошее описание это достаточно важная часть проекта. Во вступлении хорошо бы иметь: <br>
1. Название  <br>
2. Краткое описание проекта <br> 
3. Цели и/или задачи проекта  <br>
4. Описание данных  <br>
5. План работы (может совпадать с интерактивным оглавлением) <br> <br>
Но на текущем этапе обучения это не обязательно

## Откройте таблицу и изучите общую информацию о данных

**Задание 1. Импортируйте библиотеку pandas. Считайте данные из csv-файла в датафрейм и сохраните в переменную `data`. Путь к файлу:**

`/datasets/data.csv`

In [1]:
import pandas as pd

try:
    data = pd.read_csv('/datasets/data.csv')
except:
    data = pd.read_csv('https://code.s3.yandex.net/datasets/data.csv')

**Задание 2. Выведите первые 20 строчек датафрейма `data` на экран.**

In [2]:
data.head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

**Задание 3. Выведите основную информацию о датафрейме с помощью метода `info()`.**

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

## Предобработка данных

### Удаление пропусков

**Задание 4. Выведите количество пропущенных значений для каждого столбца. Используйте комбинацию двух методов.**

In [4]:
data.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

**Задание 5. В двух столбцах есть пропущенные значения. Один из них — `days_employed`. Пропуски в этом столбце вы обработаете на следующем этапе. Другой столбец с пропущенными значениями — `total_income` — хранит данные о доходах. На сумму дохода сильнее всего влияет тип занятости, поэтому заполнить пропуски в этом столбце нужно медианным значением по каждому типу из столбца `income_type`. Например, у человека с типом занятости `сотрудник` пропуск в столбце `total_income` должен быть заполнен медианным доходом среди всех записей с тем же типом.**

In [5]:
data['total_income'] = data.groupby('income_type')['total_income'].transform(lambda x: x.fillna(x.median()))

### Обработка аномальных значений

**Задание 6. В данных могут встречаться артефакты (аномалии) — значения, которые не отражают действительность и появились по какой-то ошибке. таким артефактом будет отрицательное количество дней трудового стажа в столбце `days_employed`. Для реальных данных это нормально. Обработайте значения в этом столбце: замените все отрицательные значения положительными с помощью метода `abs()`.**

In [6]:
data['days_employed'] = data['days_employed'].abs()

**Задание 7. Для каждого типа занятости выведите медианное значение трудового стажа `days_employed` в днях.**

In [7]:
data.groupby('income_type')['days_employed'].median()

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

У двух типов (безработные и пенсионеры) получатся аномально большие значения. Исправить такие значения сложно, поэтому оставьте их как есть. Тем более этот столбец не понадобится вам для исследования.

**Задание 8. Выведите перечень уникальных значений столбца `children`.**

In [8]:
data['children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5])

**Задание 9. В столбце `children` есть два аномальных значения. Удалите строки, в которых встречаются такие аномальные значения из датафрейма `data`.**

In [9]:
data = data[(data['children'] != -1) & (data['children'] != 20)]

**Задание 10. Ещё раз выведите перечень уникальных значений столбца `children`, чтобы убедиться, что артефакты удалены.**

In [10]:
data['children'].unique()

array([1, 0, 3, 2, 4, 5])

### Удаление пропусков (продолжение)

**Задание 11. Заполните пропуски в столбце `days_employed` медианными значениями по каждого типа занятости `income_type`.**

In [11]:
data.days_employed = data.groupby('income_type')['days_employed'].transform(lambda x: x.fillna(x.median()))

**Задание 12. Убедитесь, что все пропуски заполнены. Проверьте себя и ещё раз выведите количество пропущенных значений для каждого столбца с помощью двух методов.**

In [12]:
data.isna().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

### Изменение типов данных

**Задание 13. Замените вещественный тип данных в столбце `total_income` на целочисленный с помощью метода `astype()`.**

In [13]:
data['total_income'] = data['total_income'].astype(int)

### Обработка дубликатов

**Задание 14. Обработайте неявные дубликаты в столбце `education`. В этом столбце есть одни и те же значения, но записанные по-разному: с использованием заглавных и строчных букв. Приведите их к нижнему регистру. Проверьте остальные столбцы.**

In [14]:
data['education'] = data['education'].str.lower()

**Задание 15. Выведите на экран количество строк-дубликатов в данных. Если такие строки присутствуют, удалите их.**

In [15]:
data.duplicated().sum()

71

In [16]:
data = data.drop_duplicates()

### Категоризация данных

**Задание 16. На основании диапазонов, указанных ниже, создайте в датафрейме `data` столбец `total_income_category` с категориями:**

- 0–30000 — `'E'`;
- 30001–50000 — `'D'`;
- 50001–200000 — `'C'`;
- 200001–1000000 — `'B'`;
- 1000001 и выше — `'A'`.


**Например, кредитополучателю с доходом 25000 нужно назначить категорию `'E'`, а клиенту, получающему 235000, — `'B'`. Используйте собственную функцию с именем `categorize_income()` и метод `apply()`.**

In [17]:
def categorize_income(income):
    try:
        if 0 <= income <= 30000:
            return 'E'
        elif 30001 <= income <= 50000:
            return 'D'
        elif 50001 <= income <= 200000:
            return 'C'
        elif 200001 <= income <= 1000000:
            return 'B'
        elif income >= 1000001:
            return 'A'
    except:
        pass

In [18]:
data['total_income_category'] = data['total_income'].apply(categorize_income)

**Задание 17. Выведите на экран перечень уникальных целей взятия кредита из столбца `purpose`.**

In [19]:
data['purpose'].unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

**Задание 18. Создайте функцию, которая на основании данных из столбца `purpose` сформирует новый столбец `purpose_category`, в который войдут следующие категории:**

- `'операции с автомобилем'`,
- `'операции с недвижимостью'`,
- `'проведение свадьбы'`,
- `'получение образования'`.

**Например, если в столбце `purpose` находится подстрока `'на покупку автомобиля'`, то в столбце `purpose_category` должна появиться строка `'операции с автомобилем'`.**

**Используйте собственную функцию с именем `categorize_purpose()` и метод `apply()`. Изучите данные в столбце `purpose` и определите, какие подстроки помогут вам правильно определить категорию.**

In [20]:
def categorize_purpose(row):
    try:
        if 'автом' in row:
            return 'операции с автомобилем'
        elif 'жил' in row or 'недвиж' in row:
            return 'операции с недвижимостью'
        elif 'свад' in row:
            return 'проведение свадьбы'
        elif 'образов' in row:
            return 'получение образования'
    except:
        return 'нет категории'

In [21]:
data['purpose_category'] = data['purpose'].apply(categorize_purpose)

### Шаг 3. Исследуйте данные и ответьте на вопросы

#### 3.1 Есть ли зависимость между количеством детей и возвратом кредита в срок?

In [22]:
# Ваш код будет здесь. Вы можете создавать новые ячейки.
# Создадим сводную таблицу, добавим в нее столбец с процентами пользователей, отдавших кредит в срок
data_pivot_children_debt = data.pivot_table(index='children', columns='debt', values= 'dob_years', aggfunc='count', margins=True)
data_pivot_children_debt['percent_debt_0, %'] =  round(data_pivot_children_debt[0] / data_pivot_children_debt ['All'] * 100, 2)
data_pivot_children_debt

debt            0       1    All  percent_debt_0, %
children
0         13028.0  1063.0  14091              92.46
1          4364.0   444.0   4808              90.77
2          1858.0   194.0   2052              90.55
3           303.0    27.0    330              91.82
4            37.0     4.0     41              90.24
5             9.0     NaN      9             100.00
All       19599.0  1732.0  21331              91.88

**Вывод:**

Из сводной таблицы можно сделать вывод, что пользователи в большинстве своем (в среднем 92%) отдают кредит вовремя, и неважно сколько у них детей, от количества детей показатель меняется незначительно. Группы с наименьшими рисками - пользователи с 5-ю детьми, но данных о них недосаточно, чтобы выдавать кредиты всем с пришедшим пользователям с таким количеством детей с:

<div class="alert alert-success">
✔️ Да, верно замечено про недостаточность размера выборки семей с 5-ю детьми для сравнения!

<div class="alert alert-danger">
❌ В данном случае даже такие незначительные изменения очень важны и можно утверждать о зависимости. Как минимум есть разница у семей с детьми и без

#### 3.2 Есть ли зависимость между семейным положением и возвратом кредита в срок?

In [23]:
# Ваш код будет здесь. Вы можете создавать новые ячейки.
# Создадим сводную таблицу, добавим в нее столбец с процентами пользователей, отдавших кредит в срок
data_pivot_marrige_debt = data.pivot_table(index='family_status', columns='debt', values= 'dob_years', aggfunc='count', margins=True)
data_pivot_marrige_debt['percent_debt_0, %'] =  round(data_pivot_marrige_debt[0] / data_pivot_marrige_debt ['All'] * 100, 2)
data_pivot_marrige_debt

debt                       0     1    All  percent_debt_0, %
family_status
Не женат / не замужем   2523   273   2796              90.24
в разводе               1105    84   1189              92.94
вдовец / вдова           888    63    951              93.38
гражданский брак        3749   385   4134              90.69
женат / замужем        11334   927  12261              92.44
All                    19599  1732  21331              91.88

**Вывод:**

Из данной сводной таблицы можно сделать выывод об отсутствии зависимости между семейным положением и возвратом кредита в срок. Проценты также высоки, группа с наименьшими рисками - вдовец / вдова

<div class="alert alert-danger">
❌ Так же и тут, все таки зависимость есть) И так же можно сгруппировать категории в выводе

#### 3.3 Есть ли зависимость между уровнем дохода и возвратом кредита в срок?

In [24]:
# Ваш код будет здесь. Вы можете создавать новые ячейки.
data_pivot_income_debt = data.pivot_table(index='total_income_category', columns='debt', values= 'dob_years', aggfunc='count', margins=True)
data_pivot_income_debt['percent_debt_0'] =  round(data_pivot_income_debt[0] / data_pivot_income_debt ['All'] * 100, 2)
data_pivot_income_debt

debt                       0     1    All  percent_debt_0
total_income_category
A                         23     2     25           92.00
B                       4660   354   5014           92.94
C                      14568  1353  15921           91.50
D                        328    21    349           93.98
E                         20     2     22           90.91
All                    19599  1732  21331           91.88

**Вывод:**

Процент возврата кредита высок не зависимо от категории дохода, группа D является самой надежной, но данных мало.

<div class="alert alert-danger">
❌ Предлагаю сделать все же вывод о зависимости анализирая сопоставимые и достаточные по размеру выборки

#### 3.4 Как разные цели кредита влияют на его возврат в срок?

In [25]:
# Ваш код будет здесь. Вы можете создавать новые ячейки.
data_pivot_purpose_debt = data.pivot_table(index='purpose_category', columns='debt', values= 'dob_years', aggfunc='count', margins=True)
data_pivot_purpose_debt['percent_debt_0'] =  round(data_pivot_purpose_debt[0] / data_pivot_purpose_debt ['All'] * 100, 2)
data_pivot_purpose_debt

debt                          0     1    All  percent_debt_0
purpose_category
операции с автомобилем     3879   400   4279           90.65
операции с недвижимостью   9971   780  10751           92.74
получение образования      3619   369   3988           90.75
проведение свадьбы         2130   183   2313           92.09
All                       19599  1732  21331           91.88

**Вывод:**

Цели кредита не оказывают влияния на возврат кредита в срок

<div class="alert alert-danger">
❌ Давай тут тоже попробуем описать зависимость)

#### 3.5 Приведите возможные причины появления пропусков в исходных данных.

*Ответ:* Забыли внести эти данные в датафрейм, пользователь изначально не указал эти данные,

<div class="alert alert-warning"> 
⚠️ Да, эти причины возможно, согласна с тобой. Так же важно иметь в виду технические ошибоки: неправильное объединение таблиц, кривая выгрузка или что-то еще

#### 3.6 Объясните, почему заполнить пропуски медианным значением — лучшее решение для количественных переменных.

*Ответ:* Медиана - более робастная величина (не зависит от шума и выбросов), чем среднее, сделать это можно быстро и не требует большого количества ресурсов комьютера

<div class="alert alert-success">
✔️ Отлично, все верно!

### Шаг 4: общий вывод.

Напишите ваш общий вывод.

Данные представленные в этом проекте не позволяют найти кореляций между категориями (количество детей, цель кредита, уровень дохода и семейное положение) и вовремя возвращенным кредитом, ведь доля пользователей не отдавших кредит в срок равна 0.0812.

<div class="alert alert-warning"> 
⚠️ Итоговый вывод — очень важная часть работы. В нем желательно обозначить выводы по всем шагам работы и в целом по проекту: с какими данными была работа, с какими проблемами столкнулись, как их решили, какие результаты получены, что еще можно попробовать сделать в будущем, например. А так же желательно дать рекомендации заказчику по работе с данными, что бы в будущем было меньше проблем, например с пропусками или аномалиями

<div class="alert alert-danger">
❌ Ну и в итоге нужно найденные зависимости указать)

<div class="alert alert-info"> <p2>
Работа хороша! Я вижу, что ты хорошо разбираешься в теме. Ты показываешь хорошее владение всем изучаемым в модуле материалом. Работа хорошо структурирована и аккуратна. Осталось несколько небольших деталей, которые нужно исправить:

1. Описать зависимости
2. Сравнивать сопоставимые по размеру выборки
    
Буду ждать работу :)
</p2>
</div>